<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%  static "check/css/login.css" %}"/>
</head>  
<body>
    <div class="back">  
        <div class="Login">
            <div id="login">
                <div id="login1">
                    <h1>签到系统</h1>  
                    <form action="" method="post">  {#action still empty#}
                        {% csrf_token %}
                        <input type="text" required="required" placeholder="用户名" name="name">
                        <input type="password" required="required" placeholder="密码" name="password">
                        <div class="record">
                            <input class="rec" type="checkbox" value="1" name="record" id="rempss">记住密码
                        </div>
                        <button id="mainPage_trigger" class="but">登录</button>    
                    </form>
                </div>  
            </div>
        </div> 
        <div class="mainPage">  
            <div class="buttom">
                <button class="buttom1" type="button">发起签到</button>
                <button class="buttom2" type="button">补签</button>
                <button class="buttom2" type="button">签到管理</button>
            </div> 
        </div>
        <div id="main">
                <div id="message">
                    <ul>
                        <li  class="photo"></li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                        <li  class="mes">各种信息</li>
                    </ul> 
                </div>
        </div>
    </div>
        {% load static %}
        <script src="{% static "check/js/jquery.js" %}"></script>
        <script src="{% static "check/js/main.js" %}"></script>
    </body>  
    </html>  