<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "check/css/login.css" %}"/>
</head>  
<body>
<div class="mainPage">  
        <div id="main">
            <div id="message">
                <ul>
                    <li  class="photo"></li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                    <li  class="mes">各种信息</li>
                </ul> 
            </div>
        </div>
        <div class="buttom">
        <button class="buttom1" type="button">发起签到</button>
        <button class="buttom2" type="button">补签</button>
        <button class="buttom2" type="button">签到管理</button>
        </div> 
</div>
</body>  
</html>  